<footer class="bg-gray-800 p-4 shadow md:px-6 md:py-8">
  <div class="sm:flex sm:items-center sm:justify-between">
    <span class="mb-4 flex cursor-default select-none items-center sm:mb-0">
      <span class="text-2xl font-bold tracking-tight text-white">PacketEngine</span>
    </span>
    <ul class="mb-6 flex flex-wrap items-center text-sm text-gray-400 sm:mb-0">
      <li>
        <span class="mr-4 divide-x md:mr-6">© {{ dateFormat "2006" now }} Otlichno Ltd</span>
      </li>
      <li>
        <a class="mr-4 hover:underline md:mr-6" href="https://blog.packetengine.co.uk/" target="_blank">Blog</a>
      </li>
      <li>
        <a class="mr-4 hover:underline md:mr-6" href="https://apidocs.packetengine.co.uk/" target="_blank">API Docs</a>
      </li>
      <li>
        <a class="mr-4 hover:underline md:mr-6" href="https://packetengine.co.uk/terms-of-service">Terms</a>
      </li>
      <li>
        <a class="mr-4 hover:underline md:mr-6" href="https://packetengine.co.uk/privacy-policy">Privacy</a>
      </li>
      <li>
        <a class="hover:underline" href="https://packetengine.co.uk/contact">Contact Us</a>
      </li>
    </ul>
  </div>
  <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8">
  <span class="block text-sm text-gray-400 sm:text-center">Otlichno Ltd is a company registered in England and
    Wales (Company No. 14621913).<br>Registered Office: Piccadilly Business Centre, Aldow Enterprise Park,
    Manchester, M12 6AE, United Kingdom.
  </span>
</footer>

{{ if .Site.Params.enableSearch }}
{{- partial "search-ui.html" . -}}
{{ end }}

{{ template "_internal/google_analytics.html" . }}

{{ if ge (len .Site.Languages) 3 }}
<script>
  const languageMenuButton = document.querySelector('.language-switcher');
  const languageDropdown = document.querySelector('.language-dropdown');
  languageMenuButton.addEventListener('click', (evt) => {
    evt.preventDefault()
    if (languageDropdown.classList.contains('hidden')) {
      languageDropdown.classList.remove('hidden')
      languageDropdown.classList.add('flex')
    } else {
      languageDropdown.classList.add('hidden');
      languageDropdown.classList.remove('flex');
    }
  })
</script>
{{ end }}

{{ if .Site.Params.darkModeToggle }}
<script>
  // On page load or when changing themes
  const darkmode = document.querySelector('.toggle-dark-mode');
  function toggleDarkMode() {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark')
      localStorage.setItem('darkmode', 'light')
    } else {
      document.documentElement.classList.add('dark')
      localStorage.setItem('darkmode', 'dark')
    }
  }
  if (darkmode) {
    darkmode.addEventListener('click', toggleDarkMode);
  }

  const darkStorage = localStorage.getItem('darkmode');
  const isBrowserDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

  if (!darkStorage && isBrowserDark) {
    document.documentElement.classList.add('dark');
  }

  if (darkStorage && darkStorage === 'dark') {
    toggleDarkMode();
  }
</script>
{{ end }}

<script>
  const mobileMenuButton = document.querySelector('.mobile-menu-button')
  const mobileMenu = document.querySelector('.mobile-menu')
  function toggleMenu() {
    mobileMenu.classList.toggle('hidden');
    mobileMenu.classList.toggle('flex');
  }
  if (mobileMenu && mobileMenuButton) {
    mobileMenuButton.addEventListener('click', toggleMenu)
  }
</script>